body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: black;
}

.main {
  text-align: center;
  padding: 24px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  opacity: 0.95;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
}

.container {
  margin: auto;
  max-width: 515px;
  transition: opacity 2s ease-out;
}

.intro {
  transform: translateY(20px);
  font-size: 1.4em;
  font-weight: 400px;
  line-height: 1.8rem;
  margin-bottom: 20px;
  margin-top: 0px;
    opacity: 0;
}

.hlogo{
  width: 10rem;
  display: table;
  margin: 0px auto;
}

.hlogo img{
  display:block;
  max-width: 32rem;
}

.more {
  margin: 8px 0px;
}

.content {
  font-size: 1.5em;
  font-weight: 200;
}

.link {
  text-decoration: underline;
  color: inherit;
  transition: color 100ms ease-out;
}

.link:hover {
  text-decoration: none;
}

.link:visited {
  text-decoration: underline;
  color: inherit;
}

.icon-container {
  margin: 0 auto;
  text-align: center;
  transform: translateY(20px);
}

.icon {
    font-size: 1rem;
    display: inline;
    margin: 0px 0px;
    padding: 5px;
    transition: background-color 200ms ease-out;
    transform: translateY(30px);
    opacity: 0;
    color: #fff;
    background-color: #ffffff05;
}

.icon:hover {
  background-color: #eeeeee50;
  transition: background-color 300ms ease-out;
    color: #fff;
}

.icon-link {
  text-decoration: none;
}

.visible {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 1100ms ease-out, transform 1500ms cubic-bezier(.14,.99,.56,.99);
}

.visible-icon {
opacity: 1;
    transform: translateY(0px);
    transition: opacity 1000ms ease-out, transform 1300ms cubic-bezier(.43,1.68,.58,.99), background-color 200ms ease-out;
}

@media only screen and (max-width: 600px) {

    .hlogo img{
  display:block;
  max-width: 18rem;
}
    
  .main {
    padding: 0px;
  }

  .container {
    margin-top: 0px;
    max-width: 300px;

  }

  .title {
    margin-top: 0px;
    font-size: 3.3em;
    line-height: 3.2rem;
  }

  .intro {
    font-size: 1.2em;
    line-height: 1.5rem;
  }

  .more {
    margin-top: 10px;
  }

  .icon {
margin: 0px 0px;
    font-size: 25px;
  }

  .content {
    font-size: 1em;
  }

  .icon-container {
    margin-top: 20px;
    max-width: 225px;
  }
}

@media only screen and (max-width: 320px) {

    .hlogo img{
  display:block;
  max-width: 15rem;
    }
    
     .icon {
margin: 0px 0px;
    font-size: 14px;
  }
    .icon-container {
    margin-top: 20px;
    max-width: 222px;
}
}